:root{
    --cor-fundo:#10385a;
    --cor-principal: rgb(16, 49, 92);
    --cor-destaque: #2BDEFD;
    --cor-texto: #D7F9FF;
}
body{
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.caixa-principal{
    background-color: var(--cor-fundo);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
}
h1{
    color: var(--cor-destaque);
}
button{
    background-color: var(--cor-principal);
    color: var(--cor-destaque);
}
