 }root{
    --cor-fundo:#264661;
    --cor-principal: #121638;
    --cor-destaque: #2BDEFD;
    --cor-texto: #D7F9FF;
}
body{
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.caixa-principal{
    background-color: var(--cor-fundo);
    width: 90%;
    max-width: 600px;
    
}