:root{
    --cor-fundo:#01080E;
    --cor-principal: #373e7a;
    --cor-destaque: #2BDEFD;
    --cor-texto: #D7F9FF;
}
body{
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    
}